<html>
<body>
	<h1>Create New Restaurant</h1>
    <form action="/create" method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" required><br>
        Borough: <input type="text" name="borough"><br>
		Cuisine: <input type="text" name="cuisine"><br>
        Street: <input type="text" name="street"><br>
        Building: <input type="text" name="building"><br>
        Zipcode: <input type="text" name="zipcode"><br>
        GPS Coordinates (Lat.): <input type="number" name="lat"><br>
        GPS Coordinates (Lon.): <input type="number" name="lon"><br>
        Photo: <input type="file" name="photo"><br>
	<input type="submit" value="Create">
	</form>
</body>
</html>