<html>
   <head><title>Remove</title></head>
   <body>
      <h1>Remove</h1>
      <% if (g) { %>
      <h3>Delete success</h3>
      <% }else{ %>
      <h3>You are not authorized to delete!!! </h3> 
      <% } %>
      <a href="/"><button>Home</button></a>
   </body>
</html>
