<html>
   <head><title>Remove</title></head>
   <body>
      <h1>Remove</h1>
      <%_ if (g) { %>
      <h1>Delete success</h1>
      <%_ }else{ %>
      <h1>You are not authorized to delete!!! </h1> 
      <%_ } %>
      <a href="/"><button>Home</button></a>
   </body>
</html>
