<html>
<body>

<h1>Find by</h1>
<form action="/search" method="post">
    Name<br>
    <input type="text" name="name" value=""><br>
    Borough<br>
    <input type="text" name="borough" value=""><br>
    Cuisine<br>
    <input type="text" name="cuisine" value=""><br>

    <input type="submit" value="submit">
</form>

<br>
<a href="/">Home</a>
</body>
</html>