<html>
<body>

<h1>Find by</h1>
<form action="/searchBy" method="GET">
    <select name="criteria">
        <option value="name">Name</option>
        <option value="borough">Brough</option>
        <option value="cuisine">Cuisine</option>
    </select>
    <input type="text" name="keywords">
    <input type="submit" value="Search">
</form>

<br>
<a href="/"><button>Home</button></a>
</body>
</html>